html,
body {
    margin: 0;
    padding: 0;
    padding-bottom: 3%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color:#3f2a56;
}

#Contenu {
    background: #3f2a56;
    width: 250px;
    padding: 40px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* <-- ça centre horizontalement les enfants */
    justify-content: space-between; /* répartit l'espace verticalement */
    min-height: 100px; /* ajustez cette valeur selon vos besoins */
}

#Contenu input[type="email"],
#Contenu input[type="text"],
#Contenu input[type="password"],
#Contenu select{
    display: block;
    width: 100%;
    max-width: 300px;
    height: 50px;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid antiquewhite;
    border-radius: 2vw;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: antiquewhite;
}

#Contenu img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

#profileContainer {
    position: relative;
    width: 150px;
    height: 140px;
    margin: 30px auto;
}

#profilePic {
  width: 120px !important;
  height: 120px !important;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  border: 4px solid white;
}

#profilePic:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

#profileOverlay {
    position: absolute;
    bottom: -40%;
    right: -13%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    color: white;
    pointer-events: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Important */
}


#enregistrer{
    background-color: #f06b42;
    color: #3f2a56;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 2vw;
    cursor: pointer;
    margin: 10px auto;
    display: block;
    width: 100%;
    max-width: 400px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

 #enregistrer:hover{
    transform: scale(1.05);
 }

 /* Style commun aux deux boutons */
#modifierMDP, #validerMDP {
  background-color: #f06b42;
  color: #3f2a56;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 2vw;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  width: 100%;
  max-width: 400px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Effet hover */
#modifierMDP:hover, #validerMDP:hover {
  background-color: #ed4f1f;
  transform: scale(1.03);
}

