/* resetpassword.css */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2c1a3f;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 1);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* Conteneur principal */
#Contenu {
    background: #3f2a56;
    width: 425px;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
}

/* Logo */
#logo {
    display: block;
    width: 400px;
    margin: 0 auto 30px;
}

/* Titre */
#Contenu h2 {
    color: antiquewhite;
    margin-bottom: 25px;
    font-weight: 600;
}

/* Champs de saisie */
#Contenu input[type="password"] {
    width: 100%;
    max-width: 300px;
    height: 50px;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid antiquewhite;
    border-radius: 30px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: antiquewhite;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

#Contenu input:focus {
    border-color: #f06b42;
    border-width: 2px;
    box-shadow: 0 0 8px #2c1a3f;
    outline: none;
}

/* Bouton Valider */
#submit {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    margin: 20px auto 0;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background-color: antiquewhite;
    color: #3f2a56;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

#submit:hover {
    background-color: #f06b42;
}

/* Liens auxiliaires */
#aux-links {
    margin: 10px auto;
    font-size: 0.9em;
}

#aux-links a {
    color: #f06b42;
    text-decoration: none;
    margin: 0 10px;
}

#aux-links a:hover {
    text-decoration: underline;
}
